*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-height: 100%;
	margin: auto;
	padding: 0;
  overflow-x: hidden;
}












/*phần đầu*/
.container-header{
  width: 98%;
  margin-left: 1%;
}


.navbar-brand{
  position: relative;
  padding-left: 10%;
}
.Uni_name{
     position: absolute;
     left: 20%;
}
.horizon-navi{
  position: absolute;
  height: 10px;
  background-color: #00ABE1;
}
.horizon-navi2{
  height: 20px;
  background-color: #00ABE1;
}


/* search bar */
.search-bar-head{
  position: absolute;
  margin-left:80%;
  width: 200px;
}

.container-search-bar{
  padding-bottom: 0px;
}

.height {
    height: 0px;
}

.form-for-s {
    position: relative;
}

.form-for-s .fa-search {
    position: absolute;
    top: 13px;
    left: 240px;
    color: #9ca3af
}




.form-input:focus {
    box-shadow: none;
    border: none
}

/* hết search bar */








.blue-line{
  height: 7px;
  background-color: #187bcd;
  position: relative;
  top: 5px;
  z-index: 10000000;
}


/* nav bar */
.nav-size{
  width: 100%;
  background: #464646;
  height: 45px;
}
.nav-size nav{
  width: 80%;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav ul{
  float: right;
  list-style: none;
  position: relative;
  margin-top: -20px;
  margin-bottom: -20px;
}

nav ul li{
  float: left;
  display: inline-block;
  background: #464646;
}
nav ul li a{
  color: white;
  text-decoration: none;
  line-height: 40px;
  padding: 8px 20px;
}

nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
}


nav ul ul{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: .5s;
}

nav ul li:hover > ul{
  opacity: 1;
  visibility: visible;
}


nav ul ul li{
  position: relative;
  margin: 0px;
  width: 250px;
  float: none;
  display: list-item;
  background-color: #464646;
  left: -32px;
  top: 6px;
}

nav ul ul li a{
  text-align: left;
}

nav ul ul li a:hover{
  color: cyan;
  box-shadow: none;
}

.show,.icon, input{
  display: none;
}


.nav-arrow{
  display: flex;
  height: 100%;
  width: auto;
  border-left: 0.5px solid #808080;
}

.nav-arrow a{
  position: relative;
  top: -10px;
}

.nav-arrow label{
  position: relative;
  right: 40px;
  top: 6px;
  color: blue;
  font-size: 10px;
}

.right-col-line{
  border-right: 0.5px solid #808080;
}








/*slide*/
/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1,1);
    }
    to {
      -webkit-transform: scale(1.5,1.5);
    }
}

/* Standard syntax */
@keyframes zoom {
   from {
        transform: scale(1,1);
   }
   to {
        transform: scale(1.5,1.5);
   }
}


.carousel-img {
    -webkit-animation: zoom 50s; /* Chrome, Safari, Opera */
    animation: zoom 50s;
    position: relative;
    max-height: 500px;
}
.carousel-caption-css{
  position: absolute;
  top: 15%;
  background: rgba(15, 147, 204, 0.46);
  width: 15%;
  height: 70%;
  border-radius: 5px;
  display: none;
}
.carousel-caption-css p{

  padding-left: 25px;
  text-align: left;
}
.carousel-caption-css h3{
  margin-left: 10%;
  margin-top: 5%;
  text-align: left;
  max-width: 220px;
}
/*css cho card system*/























.card-news{
 height: 150px;
 width: 100%;
}

.card-news-bag{
  padding-bottom: 10px;
}





.more-info{
  height: 30px;
  background-color: #187bcd;
  padding-top: 5px;
  font-family: 'Rajdhani', sans-serif;
  cursor: pointer;
}


/*swiper slide*/
.event-news{
  padding: 10px;
  height: 500px;
  background-image: url('../img/background-swiper.png');
}
.event-news .event-news-title{
  text-align: center;
  padding: 20px;
  font-family: 'Merriweather', serif;
}
.event-news .event-img{
  height: 55%;
}
.event-news .calender-event{
  text-align: center;
  background-color: black;
  color: white;
  height: 25%;
  width: 22%;
  position: relative;
  left: 25px;
  top: -50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.event-news .calender-event h3{
  font-size: 18px;
}
.event-news .calender-event-info{
  width: 100%;
  position: relative;
  top: -50px;
  text-align: left;
  padding-left: 20px;
}
.event-news .calender-event-info h2{
  font-size: 24px;
}
.event-news .calender-event-info-p{
  position: relative;
  top: 15px;
}
.event-news .calender-event-info-p p{
  margin: -5px;
  font-size: 16px;
  font-family: 'Nanum Myeongjo', serif;
}
.event-news .swiper {
        width: 90%;
        height: 65%;
        cursor: pointer;

      }

.event-news .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
     
        
      }

.event-news .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

.admission-and-educate{
  width:80%;
  margin-left:10%;
  text-align:center;
}

.admission-and-educate-title{
  padding: 10px;
}

.admission-and-educate-title p{
  padding: 1% 20% 0% 20%;
}

.admission-container{
  margin-left: 1%;
  width: 98%;
}

.admission-and-educate-img{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  background-color: white;
}

.admission-and-educate-img img{
  cursor: pointer;
  max-height: 250px;
  width: 35%;
}

.admission-and-educate-img p{
  padding: 0 5px 0 5px;
}


.cooperation{
  background-image: url(../img/slide1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.cooperation-title{
  text-align: center;
  padding-top: 20px;
  color: white;
}
.cooperation .admission-container{
  width: 80%;
  margin-left: 10%;
}

.cooperation-title p h5{
  padding: 2% 20% 0% 20%;
}

.alumni{
  text-align: center;
  height: 600px;
}

.alumni .swiper {
        width: 90%;
        height: 65%;
        cursor: pointer;
      }
.alumni .swiper-wrapper{
 height: 90%;
}

.alumni .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #DADADA;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        
      }

.alumni .swiper-slide img {
        display: block;
        width: 100%;
        height: 120%;
        object-fit: cover;
      }

.alumni .alumni-tag{
  color: white;
  background-color: red;
  position: relative;
  top: -27px;
  width: 40%;
  z-index: 3;
}

.alumni .alumni-tag p{
  position: relative ;
  top: 2px;
  left: -1px;

}

.alumni .alumni-line{
  height: 5px;
  background-color: red;
  position: relative;
  top: -47px;
  z-index: 2;

}

.alumni-text{
  padding-left: 5px;
}

.alumni-text h5{
  text-align: left;
  padding-left: 5px;
  position: relative;
  top: -40px;
}
.alumni-text p{
  text-align: left;
  padding-left: 5px;
  position: relative;
  top: -40px;
}

/* scroll box */

.people-said{
  background-color: #404040;
}

.people-said h1{
  color: white;
}

.people-said .swiper-wrapper{
  background-color: #404040;
  height: 400px;
}

.people-said .swiper-slide{
  background-color: #404040;
}

.so-scroll-bag{
  width: 80%;
  margin-left: 10%;
}

.people-said .so-scroll-bag .so-img-bag img{
  padding-top: 20px;
  height: 160px;
  width: 115px;
}

.so-img-bag{
  display: flex;
}

.so-img-line{
  height: 150px;
  width: 5px;
  background-color: white;
  position: relative;
  top: 15px;
  left: 25px;
}

.so-scroll-div{
  top: 20px;
  position: relative;
  height: 150px;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}


.so-info-name{
  text-align: left;
  padding-top: 20px;
  padding-left: 18%;
  color: white;
}

.so-info-name p{
  font-size: 16px;
  position: relative;
  top: -10px;
}

/*about us */

 .about-us{
  background-color: #FFFFA7;
 }

 .about-us-bag{
  width: 99%;
  padding-left: 13%;
  padding-top: 20px;

 }

 .about-us h1{
  color: black;
  padding-top: 30px;
 }

 .about-us .about-us-bag h1{
   color: black;
   font-size: 46px;
 }

 .about-us .size-text{
  font-size: 20px;
  position: relative;
  top: 40px;
 }
 
 .about-us-bag-el{
  padding: 10px;
 }


/* footer */

.container-f{
  max-width: 1170px;
  margin:auto;
}
.row-f{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}









/* media query*/
@media screen and (max-width:  1200px){
  .alumni .alumni-tag p{
    font-size: 12px;
  }

  .alumni .alumni-tag{
  color: white;
  background-color: red;
  position: relative;
  top: -18px;
  width: 40%;
  z-index: 3;
}

.alumni .alumni-line{
  height: 5px;
  background-color: red;
  position: relative;
  top: -39px;
  z-index: 2;

}

 .so-img-line{
  background-color: white;
 }
}


@media screen and (max-width: 1000px) {

  .Uni_name{
     position: absolute;
     left: 17%;
  }
  .navbar-brand{
  padding-left: 0%;
  }
  .second-nav ul{
    background-color: #82CAFA;
    border-radius: 25px;
  }
  .container{
    text-align: center;

  }
  .so-img-line{
  background-color: #404040;
  }

  .alumni .swiper-slide img {
        
        width: 100%;
        height:280px;
        object-fit: cover;
      }
  .alumni-text{
    text-align: left;
    padding-left: 5px;
    position: relative;
    top: 0px;
  }
  
  .alumni .alumni-tag p{
  position: relative ;
  top: 0px;
  left: 0px;
  font-size: 15px;

}


}

@media (max-width:  760px){
    .card-news-bag{
    width: 80%;
    padding-left: 20%;
  }

  .about-us-bag{
  width: 99%;
  padding-left: 0%;
  padding-top: 20px;

 }
 
 .so-img-bag{
  padding-left: 35%;
 }
}




@media screen and (max-width: 600px) {
  .Uni_name{
     font-size: 18px;
     position: absolute;
     left: 20%;
}
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* media của header */

@media all and (max-width: 1250px){

  /* chỉnh search bar */

  .search-bar-head{
     margin-left: 0%;
     top: 110px;
  }
  .form-input {
    height: 30px;
    text-indent: 25px;
    border-radius: 4px
   }
    .form-for-s .fa-search {
      position: absolute;
      top: 8px;
      left: 240px;
      }
 
  /*hết chỉnh search bar*/
  
  /*hết chỉnh search bar*/
  nav ul{
  margin-top: 0px;
  margin-bottom: 0px;
  }

  .blue-line{
    display: none;
  }

/* chỉnh nav */
  .nav-size{

  height: auto;
  padding-bottom: 15px;
  }

  .nav-arrow{
    border-left: none;
    border-top: 0.5px solid #808080;

  }
  .right-col-line{
    border-right: none;
  }


  nav ul{
    margin-right: 0px;
    float: left;
    padding-top: 20px;
  }



  nav ul li{
     display: inline-block;
     background: #464646;
     border: none;
  }
  nav ul li, nav ul ul li{
    display: block;
    width: 100%;
  }

  nav ul ul li{
    top: 0px;
  }

  nav ul ul{
    top: 70px;
    position: static;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0px 20px;
    line-height: 30px;
    cursor: pointer;
  }

  .need-color{
    color: white;
  }
  
  .icon{
    display: block;
    color: white;
    position: absolute;
    right: 30px;
    top: 90px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul li a:hover{
    box-shadow: none;

  }

  .show + a, ul{
    display: none;
  }
  
  [id^=btn]:checked + ul{display: block;}
 

}